<!-- <div class="site" *ngIf="authService.isLoggedIn | async as isLoggedIn">

    <nav class="nav">
        <div class="nav__title">
            <a class="logo" routerLink="/">MyApp</a>
        </div>
        <ul class="nav__list">
            <li class="nav__item"><a routerLink="/profile">Profile</a></li>
            <li class="nav__item"><a (click)="onLogout()">Logout</a></li>
        </ul>
    </nav>
</div> -->

<div class="top-bar" *ngIf="authService.isLoggedIn | async as isLoggedIn">
    <div class="top-bar-left">
        <a class="logo" routerLink="/">MyApp</a>
    </div>
    <div class="top-bar-right show-for-medium">
        <ul class="menu">
            <li><a routerLink="/profile">Profile</a></li>
            <li><a (click)="onLogout()">Logout</a></li>
        </ul>
    </div>
</div>



<router-outlet></router-outlet>